@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>Whos Got The Juice??</h1>
<p>This service will save you hundreds in overpriced juice from your local vape shop. we only charge delivery and the cost to produce. </p>
<p>unless you prefer more high end juice we will gladly up your box service to deliver you the most quality juice to your door every month</p>
