@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Miller Way<br />
    Milwaukee Wi 53033<br />
    <abbr title="Phone">P:</abbr>
    262.867.5309
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ryan.wolff14@outlook.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ryan.wolff14@gmail.com">Marketing@example.com</a>
</address>