

<div class="jumbotron">
    <h1>WHOS GOT THE JUICE?</h1>
    <p class="lead">Monthly juice service</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Sick of buying bottles of juice just to run out? after you sign up for our service that will be a problem of the past
            our service will deliver straight to your door a new supply of juice every month. never will you have to deal with those
            foggy weird vape shops
        </p>
        <p><a class="btn btn-default" href="http://www.elgoog.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>entertainment</h2>
        <p>View our world class assortment and shop setup</p>
        <p><a class="btn btn-default" href="http://www.youtube.com">videos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>other stuff</h2>
        <p>more; info.</p>
        <p><a class="btn btn-default" href="http://www.google.com">Learn more &raquo;</a></p>
    </div>
</div>